<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/drinks/add" <%- title === 'Add Drink' ? 'class="active"' : '' %>>Add Drink</a>
    <a href="/drinks" <%- title === 'All Drinks' ? 'class="active"' : '' %>>All Drinks</a>
  </nav>
  <main>