<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='../public/css/style2.css' />

  <script src="../public/script/script.js" defer></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

  <title><%= drink.title %></title>


</head>
<div class="contain">
<body>
  <div class="sidenav">
  <nav class="links">
    <a href="/drinks/add" <%- title === 'Add Drink' ? 'class="active"' : '' %>>Add Drink</a>
    <br>
    <a href="/drinks" <%- title === 'All Drinks' ? 'class="active"' : '' %>>All Drinks</a>

  </nav>
  </div>
  <main>