<%- include('../partials/header') %>

<div class='all-drink-page'>
<h1 id="drinks-list">All Drinks</h1>


        <% drinks.forEach(function(d){ %>
            <div class="drink container">
            <ul class="drink-data">
                <li class="drink-name"><%= d.title %></td>
                <li class="details"><a href="/drinks/<%= d._id %>">Details</a></li>
                </ul>
            </div>
            <% }); %>

        </div>

    <%- include('../partials/footer') %>