<form id="new-form" action="/drinks" method="POST">
<label>Ingredients</label>
<input type="text" name="ingredients">
<button id="add" value="Add"></button>
<label>Directions</label>
<input type="text" name="directions">
<button id="add" value="Add"></button>
<label>Name your drink!</label>
<input type="text" name="title">
<input type="submit" value="Add Drink">
</form>