<%- include('../partials/header') %>

<form id="new-drink" action="/drinks" method="POST">
<label>Ingredients</label>
<input type="text" name="ingredients">
<button id="add">Add Ingredient</button>
<label>Directions</label>
<input type="text" name="directions">
<button id="add">Add Step</button>
<label>Name your drink!</label>
<input type="text" name="title">
<input type="submit" value="Add Drink">
</form>

<%- include('../partials/footer') %>