<%- include('../partials/header2') %>

<div class="container">
<h1>Add a Drink!</h1>

<form id="new-drink" action="/drinks" method="POST">
    <label id="ingredients">Ingredients</label>
    <ul id="ing-list"> 
    </ul>
<input type="text" name="ingredients" id="ingbox" class="type-here">
</form>
<button id="add-ing">Add Ingredient</button>

<form id="new-drink" action="/drinks" method="POST">
<label id="directions">Directions</label>
<ul id="dir-list">

</ul>
<input type="text" name="directions" id="dirbox" class="type-here">
</form>
<button id="add-step">Add Step</button>

<form id="new-drink" action="/drinks" method="POST">
<label id="name-drink">Name your drink!</label>
<input type="text" name="title" class="type-here">
<input type="submit" value="Submit" id="submit">
</form>
</div>

<%- include('../partials/footer') %>