<section id="show-page">
    <div id="drink-title"><%= drink.title %></div>
    <div id="ingredient-title">Ingredients</div>
    <div class="ingredient-list"><%= drink.ingredients %></div>
    <div id="directions-title">Directions</div>
    <div class="directions-list"><%= drink.directions %></div>
</section>