<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/public/css/home.css' type="text/css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

  <title>BYOB</title>
</head>

<div class="container">
<body id="home-page">

<nav>    
  <% if (user) { %>
  <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
<% } else { %>
  <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
<% } %>
</nav>

    <div class="transbox">
        <img src="../public/images/bartender.jpeg" id="bartender-img">
    <h1 class="app-title" id="be">Be</h1>
    <h1 class="app-title" class="your"><img src="../public/images/martini.png" id="martini"> <div id="your">our</div></h1>
    <h1 class="app-title" class="own"><img src="../public/images/lemon.png" id="lemon"><div id="own">wn</div></h1>
    <h1 class="app-title" id="bartender">Bartender</h1>

</div>

      </body>
      </div>
      </html>